@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 2rem !important;
}
